.App{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.item {
	flex: 1;       
}

/*SIDEBAR*/
.sidebar{
    background: rgb(48,64,77);
    color: white;
    min-height:100vh;
    min-width: 250px;
}

/*Sidebar Header*/
/*Radar Header*/
.bp3-navbar.radar {
    background: rgb(48,64,77);
    color: white;
}

.bp3-navbar.radar .bp3-navbar-group.bp3-align-left{
    margin-left: 5px;
}

/*Radar title*/
.bp3-navbar.radar .bp3-navbar-group.bp3-align-left .bp3-navbar-heading.radar-title{
    font-size: 17px;
    margin-left: 15px;
}

/*icons*/
.bp3-navbar.radar .bp3-navbar-group.bp3-align-left .icons{
    color: rgb(136,154,166);
    margin-left: 15px;   
}

.bp3-navbar.radar .bp3-navbar-group.bp3-align-left .icons .icon-user{
    margin-left: 10px;
}

.bp3-navbar.radar .bp3-navbar-group.bp3-align-left .icons .icon-notif{
    margin-left: 10px;
}

.bp3-navbar.radar .bp3-navbar-group.bp3-align-left .icons .icon-help {
    margin-left: 10px;
}

/*Open Flags Header*/
.open-flags {
    align-items: center;
    background:  rgb(57,75,89);
    display: flex;
    height: 50px;
    padding-left: 3px;
}

.open-flags-title {
    margin: 0;
    margin-left: 36px;
}

/*Properties Search Input*/
.bp3-input-group.bp3-large.properties .bp3-input{
    background: rgb(33,43,52);
    color: rgb(135,153,166);
}

/*FilterTable*/
.filter-row {
    background: rgb(57,75,89);
    border: 1px;
    border-bottom: solid; 
    border-color: rgb(48,64,77);
    display: flex;
    flex-direction: row; /*!!!*/
    height: 40px;
    padding-left: 10px;
    padding-top: 11px;
}

.filter-row-icon{
    color:rgb(135,153,166);
    margin-left: auto;
}

.filter-row-title {
    float: left;
}

.filter-expand {
    background: rgb(48,64,77);
    display: flex;
    min-height: 50px;
    flex-direction: row;
    flex-flow: wrap;
}

.filter {
    margin: 5px 5px;
}

.filter .bp3-button.bp3-small.filter-button {
    background: rgb(57,75,89);
    color: rgb(135,153,166);
}

/*DISPLAY*/
.display{
    background:rgb(236,241,245);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2px;
    padding-top: 2px;
}

.display-header{
    border-bottom: solid;
    border-color: rgb(135,153,166);
    border-width: 1px;
    display: flex;
    flex-direction: row;
    padding-bottom: 11px;/*!!!*/
    padding-left: 10px;
    padding-top: 7px;
}

/*Search for alerts input and buttons*/
.bp3-input-group.bp3-round.ipg {
}

.bp3-input-group.bp3-round .bp3-input{
    width: 300px;
}

.bp3-button-group.buttons {
    padding-left: 20px;
}

.bp3-button-group.buttons .bp3-button.bp3-minimal.button-trader { 
    margin-left: 20px;
    margin-right: 0px;
}

.bp3-button-group.buttons .bp3-divider.divider {
    height: 12px;
    margin-top: 10px;
}

.bp3-button-group.buttons .bp3-icon.bp3-icon-caret-down.icon-down {
    padding-top: 7px;
    color: rgb(48,64,77);
}

.bp3-button-group.buttons .bp3-button.bp3-disabled.button-action {
    margin-right: 20px;
    position: absolute;
    right: 0;


}

/*DisplayTable*/
.columns{
    background: white;
    border-bottom: solid;
    border-color: rgb(135,153,166);
    border-width: 1px;
    color: rgb(57,75,89);
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: bold;
    height:50px;
    margin-right: 20px;
    padding-left: 15px;
    padding-top: 15px;
    width:100%;
}

.trade{
    align-items: center;
    background: white;
    border-bottom: solid; 
    border-color: rgb(135,153,166);
    border-width: 1px;
    color: rgb(57,75,89);
    display:flex;
    height:80px;
    padding-left: 15px;
}

.title-column{
    flex: 1;
    margin-right: 20px;
    max-width: 280px;
}

.title{
    margin-right: 20px;
    width: 280px;
}

.color-column{
    margin-left: 5px;
    margin-right: 5px;
}

.color {
    border-radius: 5px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
}

.orange {
    background: orange;
}

.grey {
    background: grey;
}

.red {
    background: red;
}

.status{
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 2cm; /*!!!*/
    min-width: 2cm;
    text-align: center;
}

.status-column{
    margin-left: 20px;
    margin-right: 20px;
    min-width: 2cm;
}
.trader-column{
    margin-right: 20px;
    min-width: 150px;
}

.trader{
    color: rgb(136,154,166);
    margin-right: 20px;
    width: 150px;
}

.counterparty-column {
    margin-right: 20px;
    min-width: 140px;
}

.counterparty{
    color: rgb(136,154,166);
    margin-right: 20px;
    width:140px;
}

.book-column{
    margin-right: 20px;
    width: 70px;
}

.book{
    color: rgb(136,154,166);
    margin-right: 20px;
    width: 70px;
}
.source {
    color: rgb(136,154,166);
}